<div class="expense-list-container">
  <header class="expense-header">
    <h2>📋 Lista de Gastos</h2>
    <p>Administra y revisa tus gastos recientes</p>
  </header>
  <button class="btn-add" (click)="openModal()">+ Nuevo Gasto</button>
  <table class="expense-table">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Monto</th>
        <th>Fecha</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expensesList" [ngClass]="getCategoryClass(expense.category)">
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount | number:'1.2-2' }}</td>
        <td>{{ expense.date | date:'dd/MM/yyyy' }}</td>
        <td>{{ expense.category }}</td>
      </tr>
    </tbody>
  </table>


  <app-expense-add
    *ngIf="showModal"
    (expenseAdded)="onExpenseAdded($event)"
    (closed)="showModal = false"
    [message]="modalMessage">
  </app-expense-add>
</div>
