.footer {
  background: #007BFF;   
  text-align: center;
  padding: 15px;
  margin-top: 20px;     
}

.footer nav a {
  color: #f0f4ff;      
  text-decoration: none;
  margin: 0 5px;
}

.footer nav a:hover {
  text-decoration: underline;
  color: #0da582;       
}
